# Supabase Configuration

NEXT_PUBLIC_SUPABASE_URL=https://vndzpnjbbkkejgghpbgm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZHpwbmpiYmtrZWpnZ2hwYmdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4MzQxNjMsImV4cCI6MjA3MDQxMDE2M30.qv2w4Tc-wCx75OpWTWp5EeLBw2IGkc6Wrg3UCYfbER0
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Optional: Development settings
NODE_ENV=development